@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');

body{
    font-family: 'Sora', sans-serif;
    background-color: #c5c3c6;
    margin: 0px;
}

.header{
    vertical-align: middle;
    background-color: #46494c;
    padding: 10px;
    color: #dcdcdd;
    height: 30px;
    font-size: x-large;
    font-weight: bold;
    box-shadow: 2px 2px 10px rgba(0,0,0,.2);
    border-bottom-color: #1985a1;
    border-bottom-style: solid;
    border-bottom-width: 6px;
    width: 100%;
}

#add_category{
    margin-right: 30px;
    position: relative;
    font-family: 'Sora', sans-serif;
    background-color: #dcdcdd;
    color: #46494c;
    border-color: transparent;
    border-width: 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    float:right;
    height: 30px;
    font-weight: bold;
    transition: background-color .2s;
    transition: color .2s;
    transition: box-shadow .2s;
}

#add_category .tooltip{
    pointer-events: none;
    position:absolute;
    bottom:-25px;
    left: 40px;
    opacity: 0;
    background-color: #dcdcdd;
    color: #46494c;
    font-size: 10px;
    padding: 3px;
    border-radius: 2px;
    transition: opacity .2s;
}
#add_category:hover .tooltip{
    opacity: 80%;
}

#add_category:hover{
    background-color: #4c5c68;
    color: #dcdcdd;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}

#add_category:active{
    background-color: #46494c;
    border-style: solid;
    border-color: #dcdcdd;
}

#category_textbox{
    font-family: 'Sora', sans-serif;
    float: right;
    height: 27.5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    background-color: #dcdcdd;
    color: #46494c;
    padding-left: 5px;
}
#category_textbox:focus{
    outline: none;
}

#category_flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.category_container{
    background-color: #dcdcdd;
    flex: 1;
    align-self: start;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}

.category_name{
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
    background-color: #46494c;
    padding: 10px;
    color: #dcdcdd;
    font-weight: bold;
}
.task_textbox::placeholder{
    color: #dcdcdd;
}
.task_textbox{
    color: #dcdcdd;
    font-family: 'Sora', sans-serif;
    margin-left: 5px;
    flex:1;
    border: transparent;
    background-color: transparent;
    padding: 3px;
}
.task_textbox:focus{
    outline: none;
}
#category_textbox:focus{
    outline: none;
}
.task_container{
    display:flex;
    padding: 3px;
}
.task_name{
    flex:1;
    display:inline;
}
.task_inputs{
    background-color: #1985a1;
    display: flex;
}
.add_task{
    cursor: pointer;
    border-color: transparent;
    border-radius: 30px;
    margin: 3px;
    background-color: #dcdcdd;
    color: #46494c;
    width: 50px;
    text-align: center;
}
.add_task:hover{
    background-color: #46494c;
    color: #dcdcdd;
}
.add_task:active{
    border-color: #dcdcdd;
}
.remove_task{
    cursor: pointer;
    border-color: #dcdcdd;
    border-radius: 5px;
    background-color: #46494c;
    color: #dcdcdd;
    float: right;
}

.remove_category{
    cursor: pointer;
    float:right;
    border-radius: 5px;
    background-color: #dcdcdd;
    color: #46494c;
    border: none;
    height: 20px;
    width: 20px;
    text-align: center;
    opacity: 50%;
    transition: opacity .2s;
}
.remove_category:hover{
    opacity: 100%;
}