body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(https://pbs.twimg.com/media/EseGgsTUUAEbMbH.jpg:large);
}
#Header{
    text-align: center;
    color: white;
    padding-top: .5px;
    padding-bottom: .5px;
    background-color: rgb(15, 23, 36);
    border: solid;
    border-color: white;
    border-radius: 10px;
}

.Categories{
    display: grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.category-styling{
    background-color: rgb(15, 23, 36);
    text-align: center;
    color: white;
    border: solid;
    border-color: white;
    border-radius: 10px;
}